model_config:
  d_model: 412
  n_repeats: 18
  n_heads: 4
  n_experts_ffn: 155
  n_experts_attn: 8
  d_head: 82
  k_ffn: 12
  k_attn: 2
  d_expert_ffn: 128
  n_layers: 2
  vocab_size: 49152
  max_seq_len: 2048
  n_expert_shared_attn: 0
  n_expert_shared_ffn: 0
  collect_reg_loss: False
  enable_early_exit: False
  norm_structure: "moeut"
  rescaling_method: "none"


# class NormStructure(Enum):
#     Peri = 0
#     Pre = 1
#     Post = 2
#     moeut = 3
# class RescaleMethod(Enum):
#     none = 0
#     cum_avg_prot_emb = 1
#     cum_avg_no_prot_emb = 2
#     sqrt_prot_emb = 3
#     sqrt_no_prot_emb = 4

train:
  max_duration: "746ba"
  warmup: "150ba"
  cooldown: "150ba"
  device_train_batch_size: 64

callbacks:
  clean_metrics: {}
  speed_monitor:
    window_size: 10
  lr_monitor: {}
  memory_monitor: {}
  runtime_estimator: {}
  optimizer_monitor: {}
  expert_selection_callback:
    attn_experts: ${model_config.n_experts_attn}
    ffn_experts: ${model_config.n_experts_ffn}
  entropy_callback: {}
  # activation_monitor_c: {}

data_config:
  path: "/nfs-share/pa511/code_bases/dyna_project/dyna/configuration/streams"
  dataset:
    max_seq_len: ${model_config.max_seq_len}

trainer_config:
  max_duration: ${train.max_duration}
  eval_interval: 100ba
  eval_subset_num_batches: -1
  train_dataloader_label: "train"
  device_train_microbatch_size: ${train.device_train_batch_size}
  precision: "amp_bf16"
  device: "gpu"


scheduler_config:
  name: "wsld"
  t_warmup: ${train.warmup}
  t_max: ${train.max_duration}
  t_cooldown: ${train.cooldown}
  alpha_f: 1.0
