model_config:
  execution_mode: geiping_std
  d_model: 768
  d_ffn: 3072
  n_repeats: 1
  n_heads: 12
  d_head: 64
  n_layers: 4
  vocab_size: 50368
  max_seq_len: 1024
  n_expert_shared_attn: 0
  n_expert_shared_ffn: 0
  n_experts_attn: 4
  k_attn: 2
  collect_reg_loss: False
  enable_early_exit: False
  norm_structure: pre
  rescaling_method: none
  total_depth_for_init: ${model_config.n_layers}
  head_size: 1
  tail_size: 1
