defaults:
    - _self_
    - scheduler_config: wsld
    - callbacks: default_100_moe
    - data_config: smoll
    - optimizer_config: adamw
    - fsdp_config: null

model_config:
    execution_mode: geiping_std
    d_model: 768
    d_ffn: 3072
    n_repeats: 2
    n_heads: 12
    d_head: 64
    n_layers: 8
    tail_size: 2
    head_size: 2
    vocab_size: 50368
    max_seq_len: 1024
    n_expert_shared_attn: 0
    sample_iterations: True
    n_expert_shared_ffn: 0
    collect_reg_loss: False
    enable_early_exit: False
    norm_structure: pre
    rescaling_method: none
    total_depth_for_init: 12

train:
    max_duration: "3171ba"
    warmup: "634ba"
    cooldown: "634ba"
    device_train_batch_size: 1024

trainer_config:
    run_name: "geiping"
    max_duration: ${train.max_duration}
    train_dataloader_label: "train"
    device_train_microbatch_size: 16
    precision: "amp_bf16"
    device: "gpu"
    save_folder: "s3://loop-llm/dyna/"
    save_interval: "100ba"
